/* Universal Styles */

* {
    box-sizing: border-box;
}

/* Base Element Styles */

body {
    padding-left: 1em;
    padding-right: 1em;

    text-align: center;
    font-family: 'Spartan', sans-serif;
    color: #464747;
    line-height: 1.5;
}

li {
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
}

header {
    margin-bottom: 40px;

}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.contact h4 {
    text-transform: uppercase;
}

footer p {
    display: inline-block;
}

/* Media Queries */

@media(min-width: 768px) {

    body,
    .section {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

    li {
        display: inline-block;
    }

    /* header img {
        float: right;
        max-width: 40%;
        padding-left: 1em;
    } */

    .container {
        display: flex;

    }

    .top-img {
        flex: 1;
        order: 2;
    }

    .about-paragraph {
        flex: 2;
        order: 1;
        padding-right: 1em;
    }

  .section-1 {
      flex: 1;
  }

  .section-2 {
      flex: 1;
  }



   


  

}