
* {
    box-sizing: border-box;
}

body {
    padding-left: 1em;
    padding-right: 1em;

    text-align: center;
    font-family: 'Spartan', sans-serif;
    color: #464747;
    line-height: 1.5;
}

li {
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
}

header {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.contact h4 {
    text-transform: uppercase;
}

footer p {
    display: inline-block;
}

/* Media Queries */

@media(min-width: 768px) {
    body,
    .section {
        width: 70%;
        max-width: 1000px;
        margin: auto;
    }

}